{%include 'sitio/cabecera.html'%}

  <header>
    <!-- Hola Mundo -->
  </header>
  <main>
     <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Bienvenid@</h1>
          <p class="col-md-8 fs-4">App web.</p>
          <hr class="my-2">
          <p>Gestión</p>
          <p>
            <a class="btn btn-warning btn-lg" href="/libros"  type="button">Catálogo de Libros </a>
          </p>
          
        </div>
     </div>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  {%include 'sitio/pie.html'%}